* {
    margin: 0;
    padding: 0;
}

h2, h3, h4 {
    color: #faa9a9;
    font-family: 'Oswald', sans-serif;
    font-size: 2.6em;
}

h4 {
    color: #000;
}

body {
    background: #8ef8ea;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    text-align: center;
    overflow: hidden;
}

button {
    background: #faa9a9;
    border: none;
    border-radius: 5px;
    color: #FFF;
    padding: 20px;
    font-size: 1.3em;
    margin-top: 20px;
    box-shadow: #AAA 1px 1px 3px; 
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}


ul {
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
    padding: 32px 65px;
    margin: 0 5px;
    border: #AAA 1px solid; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.7em;
    color: #faa9a9;
    box-shadow: #AAA 1px 1px 3px; 
}

#question-count {
    text-align: right;
}

.nexte{
    display: none;
    margin: 50px auto;
}

.nextm{
    display: none;
    margin: 50px auto;

}

.nexth{
    display: none;
    margin: 50px auto;

}

#answer-screen {
    display: none;
}

#question-screen{
    margin-top: 270px;
    display: none;

}

#difficulties{
    margin-top: 50px;
}

.start{
    margin-top: 350px;
}

.start h1{
    color: #faa9a9;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #faa9a9;
    top: 0%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h1 {
    font-size: 100px;
    letter-spacing: 20px;
    color: white;
}

.overlay span {
    font-size: 30px;
    letter-spacing: 3px;
}

#answer-screen{
    margin-top: 250px;
}

.elements{
    display: flex;
    align-items: center;
}


#possibilities{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px;
    margin: 0 auto;
    width: 500px;
}

